{% extends "base.html" %}

{% block page_content %}
<div class="col-md-8 offset-md-2">
    <h1>Jokes</h1>
    <hr>
    {% for joke in jokes %}
    <h2><a href="{% url 'joke_detail' joke.pk%}">{{ joke.joketype }}</a></h2>
    <small>
        {% for joketype in joke.joketype.all %}
        <a href="{% url 'joke_category' joketype.type %}">
            {{ joketype.type }}
        </a>&nbsp;
        {% endfor %}
    </small>
    <p>{{ joke.text | slice:":400" }}...</p>
    Source:&nbsp;
    <p>{{ joke.source | slice:":400" }}...</p>
    {% endfor %}
</div>
{% endblock %}